<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Rapid D3 JS
		meta(name="description" content="template")
		meta(name="keywords" content="template")
		meta(name="author" content="Kamrade")
		meta(name="apple-mobile-web-app-capable" content="yes")  

		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="./assets/css/style.css")
		//- link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		
	body
		div.main
			//- This is where our React App will go
			h1 React Starts here
			



		script(src="https://code.jquery.com/jquery-1.12.4.min.js")
		script(src="https://d3js.org/d3.v3.min.js")
		script(src="./assets/main.js")
		
